
    body{
      background-color:white;
      font-family: Arial,sans-serif;
      margin:0;
      padding:0;
    }
    nav{
      background-color: gold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
    }
    nav ul{
      display: flex;
      list-style-type: none;
      margin:0;
      padding:0;
    }
    nav ul li{
      margin:0 20px;
    }
    nav ul li a{
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      color: blue;
      padding: 10px 20px;
      border-radius: 50px;
    }
    nav ul li a:hover{
      background-color: red;
    }
    /*div{*/
    /*  background-color: green;*/
    /*  height: 100px;*/
    /*  color: white;*/
    /*}*/
    /*.one{*/
    /*  background-color: brown;*/
    /*  height: 200px;*/
    /*}*/
    /*.three{*/
    /*  background-color: blueviolet;*/
    /*  height: 50;*/
    /*  color: white;*/
    /*}*/
    h2{color: blue;
      font-weight: bold;
      font-family: Arial, sans-serif;
      font-size: xx-large;
    }
    /*#four{*/
    /*  background-color: white;*/
    /*  height: 120px;*/
    /*  color:gray;*/
    /*}*/
    /*#five{*/
    /*  background-color: blueviolet;*/
    /*  height: 130px;*/
    /*  color: black;*/
    /*}*/
    .background-image{
        background-image: url("https://cdn.pixabay.com/photo/2018/08/22/19/27/nurse-3624461_640.jpg");
        background-size:cover ;
        background-position: center;
        height: 900px;
        border-radius: 20px;
        margin: 20px;
    }
    main{
        display: flex;
        align-items: center;
    }
    .image one{
        padding: 50px
    }
    .image two{
        border-radius: 150px;
        padding: 50px;
    }
    .image three{
        padding:50px ;
    }
    .image four{
        padding: 50px;
    }
